@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
    --primary-color: #231F20;
    --secondary-color: #BB4430;
    --ternary-color: #DBD8F0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    padding: 0 1rem;
    z-index: 10;
    top:0;
    left: 0;
    right: 0;
    position: sticky;
}

header p {
    font-size: large;
    color:#eee;
}

.search{
    font-family: inherit;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    padding: .3rem 0.7rem;
}

.search::placeholder{
    color: var(--secondary-color);
}

.search:focus{
    outline: none;
}

main {
    padding: 50px 30px;
}

.movie-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1.5rem;
}

.movie {
    width: 350px;
    margin: 1rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow:0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: #eee;
    gap:30px;
}

.movie-info span {
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    background-color: var(--ternary-color);
    border: 2px solid var(--ternary-color);
    border-radius: 3px;
}

.movie-info .low {
    color: #e90808;
}

.movie-info .medium {
    color: #ffa500;
}

.movie-info .high {
    color: #008000;
}

.overview {
    color: #eee; ;
    padding: 2rem;
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.4s ease-in;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color:transparent;
}

.movie:hover :not(.overview, h3){
    filter: blur(2px);
    opacity: 0.1;
}

.movie:hover .overview{
    transform: translateX(0);
}